*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

h1 {
    color :antiquewhite;
    background-color: (rgb red green blue);
};

h2 {
    color:azure;
    background-color: blueviolet;
};

h3{
    color: aqua;
    background-color: blanchedalmond;
};

h4{
    color: beige;
    border-color: brown;
}